@mixin btn-red {

    padding: 15px 30px;
    border-radius: 31px;
    background-color: #ff4450;
    color: #fff;
    font-weight: bold;
}

@mixin hover-blue {


    background-color: #457993;
    border-radius: 20px;
}